<div class="content-container">
    <div class="well" style="padding-left:5%; padding-right:5%;" ng-init="vm.initialisePage()">
        <div class="">
            <wizard indicators-position="top" hide-indicators="true">
                <wz-step wz-title="Enter Security Code">
                    <div class="outer-div">
                        <div class="inner-div">
                            <form ng-show="!(vm.codeVerificationMessage) && !(vm.codeVerified)" class="form-horizontal" id="vm.frmPersonalInfo" method="post" name="vm.frmPersonalInfo" role="form" novalidate>
                                <div class="card panel">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Enter Security Code</h3>
                                        <hr />
                                    </div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <p style="text-align:center;">Please check your email for a message with your code. Your code is 6 digits long.</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4 col-md-offset-4">
                                                <div class="form-group">
                                                    <div class="col-md-12">
                                                        <input class="col-md-12" type="text" placeholder="######" style="font-size:40px!important; text-align:center;" ng-model="vm.resetCodeData.resetCode" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <p style="text-align:center;"><i class="fa fa-info" aria-hidden="true"></i>&nbsp; If you have not received your email within 5 minutes, check your junk mail.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel-footer">
                                        <div class="">
                                            <div class="form-group col-sm-12">
                                                <a href="#/verifyemail" class="btn btn-default btn-xs pull-left">Didn't get a code?</a>
                                                <a ng-click="vm.checkEmailVerification(vm.resetCodeData.resetCode)" class="btn btn-primary btn-xs pull-right">Continue</a>
                                                <a href="#/login" class="btn btn-default btn-xs pull-right">Cancel</a>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <form ng-show="(vm.codeVerificationMessage) && !(vm.codeVerified)" class="form-horizontal" id="vm.frmPersonalInfo" method="post" name="vm.frmPersonalInfo" role="form" novalidate>
                                <div class="card panel">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Incorrect code captured.</h3>
                                        <hr />
                                    </div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <p> <a style="cursor: pointer" href="#/verifyemail">Request a new code</a>.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel-footer">
                                        <div class="">
                                            <div class="form-group col-sm-12">
                                                <a ng-click="vm.initialisePage()" class="btn btn-primary btn-xs pull-right">Try again</a>
                                                <a href="#/login" class="btn btn-default btn-xs pull-right">Cancel</a>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <form ng-show="(vm.codeVerified)" class="form-horizontal" id="vm.frmPersonalInfo" method="post" name="vm.frmPersonalInfo" role="form" novalidate>
                                <div class="card panel">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Your email has been verified click the Sign In button to continue</h3>
                                        <hr />
                                    </div>
                                    <div class="panel-footer">
                                        <div class="">
                                            <div class="form-group col-sm-12">
                                                <a href="#/login" class="btn btn-primary btn-xs pull-right">Sign In</a>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </wz-step>                
            </wizard>
        </div>
    </div>
</div>

























<!--<div class="container" style="padding-left:10%; padding-right:10%; margin-top:10%" ng-init="vm.initialisePage()">
    <div class="well card">
        <form name="forgotPW" role="form" class="form-horizontal" novalidate>
            <fieldset>
                <legend> FORGOT PASSWORD</legend>
                <div class="row">
                    <div class="form-group has-feedback" ng-class="{ 'has-error' : forgotPW.idNumber.$invalid && !forgotPW.idNumber.$pristine }">
                        <div class="col-md-6">
                            <label for="lblIDNumber" class="control-label">ID Number</label>
                        </div>
                        <div class="col-md-6">
                            <input type="text" id="txtIDNumber" name="idNumber" maxlength="13" pattern="[0-9]{13}" class="form-control" ng-model="vm.forgotpasswordData.idNumber" required autofocus />
                            <span class="glyphicon glyphicon-remove form-control-feedback" ng-show="forgotPW.idNumber.$invalid && !forgotPW.idNumber.$pristine"></span>
                        </div>
                    </div>
                </div>
                <br />

                <br />
                <div class="row">
                    <div class="form-group has-feedback" ng-class="{ 'has-error' : forgotPW.securityCode.$invalid && !forgotPW.securityCode.$pristine }">
                        <div class="col-md-6">
                            <label for="lblSecurityCode" class="control-label">Enter the security code/captcha</label>
                        </div>
                        <div class="col-md-6">
                            <input type="text" id="txtSecurityCode" name="securityCode" class="form-control" compare-To="vm.forgotpasswordData.captcha" required placeholder="must match captcha value above" ng-model="vm.forgotpasswordData.userCaptcha" autofocus />
                            <span class="glyphicon glyphicon-remove form-control-feedback" ng-show="forgotPW.securityCode.$invalid && !forgotPW.securityCode.$pristine"></span>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div>
                        <button type="button" class="btn btn-primary pull-right" ng-disabled="forgotPW.$invalid" data-ng-click="vm.send(vm.forgotpasswordData)">
                            Send
                            <i class="fa fa-spinner fa-spin fa-2x fa-fw" ng-show="doing_async"></i>
                        </button>
                    </div>
                </div>
                <br />
                <div data-ng-hide="vm.message == ''" class="alert alert-success" style="padding-top:5px">
                    {{vm.message}}
                </div>
            </fieldset>
        </form>
    </div>
</div>-->
