<script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
<style type="text/css">
    .input-xs {
  height: 25px;
  padding: 2px 5px;
  font-size: 12px;
  line-height: 1.8; /* If Placeholder of the input is moved up, rem/modify this. */
  border-radius: 2px;
}
    .questions{
        font-size:14px;
    }
</style>
<div class="container" ng-init="vm.initialisePage()">
    <div class="well card container-inner">
        <wizard on-finish="finished()" hide-indicators="true">
            <wz-step title="LOGIN INFORMATION">
                <fieldset>
                        <legend>My applications</legend>
                        <div class="row">
                            <div class="col-md-12">
                                <table ng-hide="!vm.hasRecords" class="table table-hover table-condensed">
                                    <thead>
                                        <tr>
                                            <!--<th>Programme</th>
                                            <th>Programme Reference</th>-->
                                            <th style="width: 40%;">Job title</th>
                                            <th class="hidden-xs hidden-sm">Closing Date</th>
                                            <th class="hidden-xs hidden-sm">Status</th>
                                            <th class="hidden-xs hidden-sm">Status Date</th>
                                            <!--<th>View</th>-->
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="active" ng-repeat="application in vm.applications">
                                            <!--<td>{{application.requirement.programme.programmeDesc}}</td>
                                            <td>{{application.requirement.programme.referenceNo}}</td>-->
                                            <td>{{application.vacancy.jobTitle}}</td>
                                            <td class="hidden-xs hidden-sm"><span>{{application.vacancy.closingDate | date:'yyyy-MM-dd'}}</span></td>
                                            <td class="hidden-xs hidden-sm">{{application.applicationStatus.applicationStatusDesc}}</td>
                                            <td class="hidden-xs hidden-sm">{{application.applicationStatusDate | date:'yyyy-MM-dd'}}</td>
                                            <!--<td>
                                                <button class="btn btn-default btn-xs" ng-hide="application.applicationStatusId != 1 || vm.validateClosingDate(application.vacancy.closingDate)" ng-click="vm.editApplication(application);" wz-next><i class="glyphicon glyphicon-edit"></i></button>
                                                <button class="btn btn-default btn-xs" ng-click="vm.editApplication(application);" wz-next><i class="glyphicon glyphicon-edit"></i></button>
                                            </td>-->
                                        </tr>
                                    </tbody>
                                </table>
                                <div  ng-hide="vm.hasRecords" class="alert alert-dismissible alert-info">
                                    <strong>Please note!</strong>
                                    We could not find any previous applications.
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </wz-step>
            <wz-step title="EDIT APPLICATION">
                <fieldset>
                    <legend>Editing Application: {{vm.currentApplication.vacancy.jobTitle}}: {{vm.currentApplication.vacancy.divisionName}}</legend>
                    <div class="row">
                        <div class="col-md-1">
                            &nbsp;
                        </div>
                            <div class="col-md-10">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <div class="row">
                                            <!--<div class="col-lg-10">
                                                <ul class="list-unstyled list-group">
                                                    <li><span>Salary Level: {{vm.currentApplication.vacancy.salaryLevel}} </span></li>
                                                    <li><span>Salary: R{{vm.currentApplication.vacancy.salaryNotch}} <em> {{vm.currentApplication.vacancy.remunerationDescription}}</em></span></li>
                                                    <li><span>Reference No: {{vm.currentApplication.vacancy.referenceNumber}} </span></li>
                                                </ul>
                                            </div>-->
                                            <div class="col-lg-2">
                                                <button class="btn btn-default btn-xs pull-right" ng-hide="vm.showDetails" ng-click="vm.showDetail();">Show Post Details</button>
                                                <button class="btn btn-default btn-xs pull-right" ng-show="vm.showDetails" ng-click="vm.hideDetail();">Hide Post Details</button>
                                            </div>
                                        </div>
                                        <div class="row" ng-show="vm.showDetails">
                                            <div class="col-lg-10 col-lg-offset-1">

                                                <div class="row">
                                                    <div class="col-md-12" style="font-size:12px!important">
                                                        <h5>Information</h5>
                                                        <div ng-bind-html="vm.currentApplication.vacancy.prerequisites"></div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-12" style="font-size:12px!important">
                                                        <hr />
                                                        <h5>Disciplines Required</h5>
                                                        <div ng-bind-html="vm.currentApplication.vacancy.keyPerformanceAreas"></div>
                                                    </div>
                                                </div>
                                               
                                                <div class="row">
                                                    <div class="col-md-12" style="font-size:12px!important">
                                                        <h5>Person Profile</h5>
                                                        <div ng-bind-html="vm.currentApplication.vacancy.personProfile"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-1"></div>
                                            <div class="col-md-12">
                                                <div ng-hide="vm.successMessageShow || vm.savingMessageShow" class="alert alert-dismissible alert-info">
                                                    <strong>Almost done!</strong>
                                                    Please answer the questions below as accurately as possible (information to be verified against your CV).
                                                </div>
                                                <div ng-hide="!vm.savingMessageShow" class="alert alert-dismissible alert-warning">
                                                    <strong>Attention!</strong>
                                                    Please wait for us to save your application.
                                                    &nbsp;
                                                    <img src="assets/images/ajax-loader.gif" alt="saving..." title="...saving" />
                                                </div>
                                                <div ng-hide="!vm.successMessageShow" class="alert alert-dismissible alert-success">
                                                    <strong>Success!</strong>
                                                    Your application was successfully saved. You will shortly be redirected to your applications list.
                                                </div>
                                            </div>
                                            <div class="col-md-1"></div>
                                        </div>
                                        <div class="row">
                                            <div ng-hide="vm.errorMessageShow" class="row">
                                                
                                                <form name="applicationRequirementsForm">
                                                    <div class="col-md-1"></div>
                                                    <div class="col-md-10">
                                                        <div class="row">
                                                            <div class="col-md-8">
                                                                <div class="form-group">
                                                                    <h4>Reference No: {{vm.currentApplication.Requirement.programme.referenceNo}}</h4>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-8 questions">1. What is your highest relevant qualification?</div>
                                                            <div class="col-md-4">
                                                                <label ng-bind="vm.qualificationAnswersDislay"></label>
                                                            </div>
                                                        </div>
                                                        <br />

                                                        <div class="row">
                                                            <div class="col-md-8 questions">2. Overall Academic Performance Average for above qualification?</div>
                                                            <div class="col-md-4">
                                                                <div class="input-group">
                                                                    <label ng-bind="vm.average"></label>  %
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <br/>
                                                        <div class="row">
                                                            <div class="col-md-8 questions">3. Are you a South African citizen?</div>
                                                            <div class="col-md-4">
                                                                <label ng-bind="vm.southAfricanCitizenScoreAnswersDisplay"></label>
                                                            </div>
                                                        </div>
                                                        <br />
                                                        <div class="row">
                                                            <div class="col-md-8 questions">4. Are you 35 years or below?</div>
                                                            <div class="col-md-4">
                                                                <label ng-bind="vm.ageScoreAnswersDisplay"></label>
                                                            </div>
                                                        </div>
                                                        <br />
                                                        <div class="row">
                                                            <div class="col-md-8 questions">5. Have you done an Internship Programme before?</div>
                                                            <div class="col-md-4">
                                                                <label ng-bind="vm.internshipScoreAnswersDisplay"></label>
                                                            </div>
                                                        </div>
                                                        <br />

                                                        <div class="row">
                                                            <div class="col-md-8 questions">6. Which Programme are you applying for?</div>
                                                            <div class="col-md-4">
                                                                <label ng-bind="vm.currentApplication.applicationRequirement.programme.programmeDesc"></label>  -
                                                                <label ng-bind="vm.currentApplication.applicationRequirement.programme.referenceNo"></label>
                                                            </div>
                                                        </div>

                                                    </div>
                                                    <div class="col-md-1"></div>
                                                </form>
                                            </div>
                                        </div>
                                        <br />
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="row alert alert-info">
                                                    <div>
                                                        Closing Date: {{vm.currentApplication.vacancy.closingDate | date:'yyyy-MM-dd'}}
                                                        <div class="pull-right">
                                                            <button class="btn btn-primary btn-xs" wz-previous>Cancel</button>
                                                            <button class="btn btn-primary btn-xs" ng-disabled="applicationRequirementsForm.$invalid" ng-hide="application.applicationStatusId != 1 || vm.validateClosingDate(application.vacancy.closingDate)" ng-click="vm.saveApplication(vm.currentApplication)">Save</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <div class="col-md-1">
                            &nbsp;
                        </div>
                        </div>
                </fieldset>
            </wz-step>
        </wizard>
    </div>
</div>

