<div>
    <div class="row">
        <div class="col-md-offset-2 col-md-8">
            <div class="jumbotron">
                <h2><span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span> Access Denied</h2>
                <h4>You do not have permission to access the requested page.</h4>
            </div>
            <strong>Attitional Information</strong>
            <p>
                {{authorisation.authMessage}}
            </p>
            <button class="btn btn-primary pull-right" ng-click="recheckAuth();">Check again.</button>
        </div>
    </div>
</div>