<div class="container" style="padding-left:10%; padding-right:10%; margin-top:2%" ng-init="vm.initialisePage()">
        <div class="well card">
            <form name="resetPW" class="form-horizontal" role="form">
                <fieldset>
                    <legend> RESET PASSWORD </legend>
                    <div class="row">
                        <div  class="form-group has-feedback"  ng-class="{ 'has-error' : resetPW.idNumber.$invalid && !resetPW.idNumber.$pristine }">
                            <div class="col-md-6">
                                <label for="lblIDNumber" class="control-label">ID Number</label>
                            </div>
                            <div class="col-md-6">
                                <input type="text" id="txtIDNumber" name="idNumber" maxlength="13" pattern="[0-9]{13}"class="form-control" ng-model="vm.resetpasswordData.idNumber" required autofocus placeholder="enter your ID Number" />
                                <span class="glyphicon glyphicon-remove form-control-feedback" ng-show="resetPW.idNumber.$invalid && !resetPW.idNumber.$pristine"></span>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="form-group has-feedback" ng-class="{ 'has-error' : resetPW.passwordOne.$invalid && !resetPW.passwordOne.$pristine }">
                            <div class="col-md-6">
                                <label for="lblTempPassword" class="control-label">Temporary Password</label>
                            </div>
                            <div class="col-md-6">
                                <input type="password" id="txtTempPassword" name="passwordOne" class="form-control" ng-model="vm.resetpasswordData.tempPassword" required autofocus placeholder="enter temporary password received via email" />
                                <span class="glyphicon glyphicon-remove form-control-feedback" ng-show="resetPW.passwordOne.$invalid && !resetPW.passwordOne.$pristine"></span>
                            </div>
                        </div>
                        </div>
                    <br />
                    <div class="row">
                        <div class="form-group has-feedback" ng-class="{ 'has-error' : resetPW.passwordTwo.$invalid && !resetPW.passwordTwo.$pristine }">
                            <div class="col-md-6">
                                <label for="lblNewPassword" class="control-label">New Password</label>
                            </div>
                            <div class="col-md-6">
                                <input type="password" id="txtNewPassword" name="passwordTwo" class="form-control" ng-model="vm.resetpasswordData.newPassword" required autofocus placeholder="enter new password" />
                                <span class="glyphicon glyphicon-remove form-control-feedback" ng-show="resetPW.passwordTwo.$invalid && !resetPW.passwordTwo.$pristine"></span>
                            </div>
                         </div>
                        </div>
                    <br />
                    <div class="row">
                        <div class="form-group has-feedback" ng-class="{ 'has-error' : resetPW.passwordTwo.$invalid && !resetPW.passwordTwo.$pristine }">
                            <div class="col-md-6">
                                <label for="lblConfirmPassword" class="control-label">Confirm New Password</label>
                            </div>
                            <div class="col-md-6">
                                <input type="password" id="txtConfirmPassword" name="passwordThree" class="form-control" ng-model="vm.resetpasswordData.confirmPassword" compare-To="vm.resetpasswordData.newPassword" required autofocus placeholder="enter new password" />
                                <span class="glyphicon glyphicon-remove form-control-feedback" ng-show="resetPW.passwordThree.$invalid && !resetPW.passwordThree.$pristine"></span>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div>
                            <button type="button" class="btn btn-primary pull-right" ng-disabled="resetPW.$invalid" data-ng-click="vm.reset(vm.resetpasswordData)">
                                Reset
                                <i class="fa fa-spinner fa-spin fa-2x fa-fw" ng-show="doing_async"></i>
                            </button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
