
<div class="container" style="padding-left:10%; padding-right:10%; margin-top:2%" ng-init="vm.initialisePage()">
    <div class="well card">
        <fieldset>
            <legend>List of HR Shorlisted Applications</legend>

            <div class="row" style="margin-top: 10%;" ng-show="vm.isLoading">
                <div class="col-lg-offset-2 col-lg-8 alert alert-info">
                    <i class="fa fa-cog fa-spin fa-lg pull-right"></i> <strong>Loading!</strong>  please wait...
                </div>
            </div>

            <div ng-show="vm.showNoPost" class="row">
                <div class="alert alert-dismissible alert-info">
                    <strong>No Posts!</strong> There are no posts for screening.
                </div>
            </div>
            <div ng-hide="vm.applications.length == 0" class="row">
                <span>Number of Application:  </span> <span>{{vm.noOfApplications}}</span>
                <br />
                <br />
                <div class="col-lg-12">
                    <div class="row">
                        <div class="input-group input-group-sm">
                            <input type="text" class="form-control input-group-sm" ng-model="vm.searchString" placeholder="Search" />
                            <span class="input-group-btn input-group-sm">
                                <button class="btn btn-default btn-xs" title="Search" ng-click="vm.setFilter()"><i class="glyphicon glyphicon-search"></i></button>
                                <button class="btn btn-default btn-xs" title="Reset search" ng-click="vm.clearFilter()"><i class="glyphicon glyphicon-refresh"></i></button>

                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <table class="table table-striped table-hover table-condensed">
                            <tr>
                                <th ng-click="vm.setSorting('firstNames')">Name</th>
                                <th ng-click="vm.setSorting('surname')">Surname</th>
                                <th ng-click="vm.setSorting('applicationStatusDesc')">Application Status</th>
                                <th ng-click="vm.setSorting('applicationStatusDesc')">Vacancy</th>
                                <!--<th ng-click="vm.setSorting('app.experience')">Experience</th>
    <th ng-click="vm.setSorting('app.managementExperience')">Management Experience</th>
    <!-- <th ng-click="vm.setSorting('hasAttachments')">Has Attachments</th>-->
                                <!--<th ng-click="vm.setSorting('score')">Score</th>-->
                                <!--<th ng-click="vm.setSorting('app.highestQualification')">Highest Qualification</th>
    <th ng-click="vm.setSorting('app.hasKnowledge')">Has Knowledge</th>-->
                                <th>View</th>
                            </tr>

                            <!-- Enable this once the is connectivity -->
                            <!-- <tr ng-repeat="app in vm.allApplications">-->
                            <tr ng-repeat="app in vm.applications">
                                <td>{{app.firstNames}}</td>
                                <td>{{app.surname}}</td>
                                <td>
                                    <span>{{app.applicationStatusDesc}}</span>
                                </td>
                                <td>{{app.jobTitle}}</td>
                                <td>
                                    <button ng-click="vm.viewApplication(app)" class="btn btn-default btn-xs"><i class="glyphicon glyphicon-chevron-right"></i></button>
                                </td>
                            </tr>
                        </table>
                        <ul ng-if="vm.pager.pages.length" class="pagination">
                            <li ng-class="{disabled:vm.pager.currentPage === 1}">
                                <a ng-click="vm.setPager(1)">First</a>
                            </li>
                            <li ng-class="{disabled:vm.pager.currentPage === 1}">
                                <a ng-click="vm.setPager(vm.pager.currentPage - 1)">Previous</a>
                            </li>
                            <li ng-repeat="page in vm.pager.pages" ng-class="{active:vm.pager.currentPage === page}">
                                <a ng-click="vm.setPager(page)">{{page}}</a>
                            </li>
                            <li ng-class="{disabled:vm.pager.currentPage === vm.pager.totalPages}">
                                <a ng-click="vm.setPager(vm.pager.currentPage + 1)">Next</a>
                            </li>
                            <li ng-class="{disabled:vm.pager.currentPage === vm.pager.totalPages}">
                                <a ng-click="vm.setPager(vm.pager.totalPages)">Last</a>
                            </li>
                        </ul>

                    </div>
                    <div ng-hide="vm.hideConfirmReason" class="row">
                        <div class="panel panel-primary">
                            <div class="panel-heading">Please confirm the reason for requesting all the applications:</div>
                            <div class="panel-body">
                                <form name="rejectionForm">
                                    <div class="form-group">
                                        <label class="col-lg-4" for="salLevel">Select Vacancy</label>
                                        <div class="col-lg-8">
                                            <select name="vacancies" id="vacancies" ng-change="vm.vacancyChange()"
                                                    class="form-control input-sm" required
                                                    ng-model="vm.vacancies.vacancyObj"
                                                    ng-options="vacancy as vacancy.vacancyDesc for vacancy in vm.vacancies track by vacancy.vacancyId"></select>

                                        </div>
                                    </div>
                                    <br />
                                    <label class="col-lg-4" for="">Motivation</label>
                                    <br/>
                                    <textarea class="form-control" required cols="10" rows="5" ng-model="vm.reason"></textarea>
                                    <br />
                                    <button ng-click="vm.confirmRequest()" ng-disabled="rejectionForm.$invalid" class="btn btn-default btn-xs pull-right">Submit</button>
                                    <button ng-click="vm.cancel()" class="btn btn-default btn-xs pull-left">Cancel</button>
                                </form>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <button class="btn btn-default btn-xs" ng-show="vm.sentAllApps" ng-click="vm.sentAllApplications()"><i class="glyphicon glyphicon-chevron-right"></i> Request all applications</button>

                    </div>

                    <div class="row">
                        <div class="col-lg-1">&nbsp;</div>
                        <div ng-hide="!vm.ShowError" class="alert alert-danger alert-dismissable col-lg-10">
                            <strong>Whoops {{vm.ErrorMessage}}</strong>
                        </div>
                        <div ng-hide="!vm.ShowSuccess" class="alert alert-success alert-dismissable col-lg-10">
                            <strong>Congratulations {{vm.SuccessMessage}}</strong>
                        </div>
                        <div class="col-lg-1">&nbsp;</div>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
</div>
